<section id="home">
    <div class="home-container">
        <div class="heading-text">
            <h1>Book beyond your wildest means!</h1>
        </div>
        <span class="error" *ngIf="submitted && searchForm.invalid">Destination field is required!</span>
        <div class="book-form">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            
                <div class="inputHolder">
                    <i class="fas fa-map-marker-alt inputIcon"></i>
                    <input type="text" class="cityInput" name="searchedDest" formControlName="searchedDest"  placeholder="Where do you want to go?">
                </div>

                <div class="inputHolder">
                    <button class="submitBtn" type="submit">Find a Hotel</button>
                </div>
            </form>
        </div>
        <div class="why-us-list">
            <span><i class="fas fa-search-dollar"></i>Exclusive Hotel Offers</span>
            <span><i class="fas fa-notes-medical"></i>Travel Care</span>
            <span><i class="fas fa-wifi"></i>Free Wi-Fi</span>
        </div>
    </div>
</section>