<section id="navigation">
    <nav class="navbar">
        <div class="nav-site-name">
            <i class="fas fa-hotel"></i><span>Booking World</span>
        </div>
        <ul class="nav-items">
            <li class="nav-item"><a routerLink="/">Home</a></li>
            <li class="nav-item"><a routerLink="/hotels">Catalog</a></li>
            <ng-container *ngIf="user">
                <li class="nav-item "><a routerLink="/create">Create</a></li>
                <li class="nav-item"><a class="logoutBtn" (click)="logout()">Logout</a></li>
            </ng-container>
            <ng-container *ngIf="!user">
                <li class="nav-item"><a routerLink="/login">Login</a></li>
                <li class="nav-item"><a routerLink="/register">Register</a></li>
            </ng-container>
            <li class="nav-item"><a routerLink="/about">About</a></li>
        </ul>
    </nav>
</section>