<section id="navigation">
    <nav class="navbar">
        <div class="nav-site-name">
            <i class="fas fa-hotel"></i><span>Booking World</span>
        </div>
        <ul class="nav-items">
            <li class="nav-item"><a routerLink="/">Home</a></li>
            <li class="nav-item"><a routerLink="/catalog">Catalog</a></li>
            <!-- <li class="nav-item "><a href="/create">Create</a></li>
            <li class="nav-item"><a href="/logout">Logout</a></li> -->
            <li class="nav-item"><a routerLink="/login">Login</a></li>
            <li class="nav-item"><a routerLink="/register">Register</a></li>
            <li class="nav-item"><a routerLink="/about">About</a></li>
        </ul>
    </nav>
</section>