/* CATALOG VIEW */

section#catalog {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .catalog-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    background: rgba(65, 65, 65, 0.3);
    box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  
  .heading-text-catalog{
    font-size: xx-large;
    font-style: italic;
    margin: 20px 0 10px 0;
    color: rgba(245, 245, 245, 0.811);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .heading-text-catalog span {
    margin-top: 10px;
    font-style: normal;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: x-large;
    letter-spacing: 3px;
  }
  
  .hotels-catalog {
    margin-top: 15px;
    margin-bottom: 22px;
    width: 80%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  
  .hotel {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 4px solid rgba(239, 104, 104, 0.5);
    border-radius: 10px;
  }
  
  .hotel:nth-child(1) {
    margin-top: 0;
  }
  
  .hotel-img-container {
    width: 30%;
    height: 100%;
  }
  
  .hotel-img-container img {
    width: 100%;
    height: 100%;
  }
  
  .hotel-info-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgba(239, 104, 104, 0.5);
  }
  
  .hotel-info-container span {
    margin-top: 10px;
    text-align: center;
  }
  
  .hotel-dest-icon {
    font-size: 24px;;
    color: rgb(252, 106, 106);
    margin-right: 5px;
  }
  
  .hotel-rooms-icon {
    font-size: 24px;;
    color: rgb(215, 215, 215);
    margin-right: 5px;
  }
  
  .hotel-reviews-icon {
    font-size: 24px;
    color: rgb(232, 214, 19);
    margin-right: 5px;
  }
  
  .hotel-name {
    font-size: 30px;
  }
  
  .hotel-price-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hotel-price-container span {
    width: 100%;
    text-align: center;
  }
  
  .hotel-price {
    font-size: larger;
  }
  
  .details-btn {
    margin-top: 20px;
    width: 80%;
    height: 50px;
    font-size: xx-large;
    font-family: "Georama", sans-serif;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(239, 104, 104);
    box-shadow: 2px 9px 19px -6px #000000;
    color: white;
    letter-spacing: 2px;
  }