<section id="catalog">
    <div class="catalog-container">
        <div class="heading-text-catalog">
            <h1>Planning your vacation?</h1>
            <span>Explore our hotels catalog</span>
        </div>

        <div class="hotels-catalog">
            <div class="hotel">
                <div class="hotel-img-container">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/da/3a/f5/img-hotel-s-rio-quente.jpg" alt="Hotel">
                </div>
                <div class="hotel-info-container">
                    <span><h1 class="hotel-name">Hotel Name</h1></span>
                    <span><i class="fas fa-map-marker-alt hotel-dest-icon"></i>Hotel Destination</span>
                    <span><i class="fas fa-bed hotel-rooms-icon"></i>(4) Free Rooms</span>
                    <span><i class="fas fa-star hotel-reviews-icon"></i>(162) Reviews</span>
                </div>
                <div class="hotel-price-container">
                    <span class="hotel-price"><i class="fas fa-dollar-sign"></i>99.99 per night</span>
                    <span><button class="details-btn">Details</button></span>
                </div>
            </div>

            <div class="hotel">
                <div class="hotel-img-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQoXaNC81Lo7TQbU2bsz-4FKhICj69ggg-AQ&usqp=CAU" alt="Hotel">
                </div>
                <div class="hotel-info-container">
                    <span><h1 class="hotel-name">Hotel Name</h1></span>
                    <span><i class="fas fa-map-marker-alt hotel-dest-icon"></i>Hotel Destination</span>
                    <span><i class="fas fa-bed hotel-rooms-icon"></i>(4) Free Rooms</span>
                    <span><i class="fas fa-star hotel-reviews-icon"></i>(162) Reviews</span>
                </div>
                <div class="hotel-price-container">
                    <span class="hotel-price"><i class="fas fa-dollar-sign"></i>999999 per night</span>
                    <span><button class="details-btn">Details</button></span>
                </div>
            </div>

            <div class="hotel">
                <div class="hotel-img-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrfPJDYobXPFucVRK7GE53fbpcbtFLPSMljw&usqp=CAU" alt="Hotel">
                </div>
                <div class="hotel-info-container">
                    <span><h1 class="hotel-name">Hotel Name</h1></span>
                    <span><i class="fas fa-map-marker-alt hotel-dest-icon"></i>Hotel Destination</span>
                    <span><i class="fas fa-bed hotel-rooms-icon"></i>(4) Free Rooms</span>
                    <span><i class="fas fa-star hotel-reviews-icon"></i>(162) Reviews</span>
                </div>
                <div class="hotel-price-container">
                    <span class="hotel-price"><i class="fas fa-dollar-sign"></i>99.99 per night</span>
                    <span><button class="details-btn">Details</button></span>
                </div>
            </div>
        </div>
    </div>
</section>