<section id="about">
    <div class="about-container">
        <div class="heading-text">
            <h3>About Us</h3>
        </div>
        <div class="about-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi temporibus quae dignissimos ratione hic soluta laudantium consequuntur. Perspiciatis natus dolores accusantium animi officiis itaque, dignissimos, vitae inventore ea ullam aut.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque magnam, odit fugit esse debitis ducimus? Quaerat error recusandae tenetur, dolorum, hic officia libero maiores, dolorem laudantium molestiae aliquam. Sequi, eveniet?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque magnam, odit fugit esse debitis ducimus? Quaerat error recusandae tenetur, dolorum, hic officia libero maiores, dolorem laudantium molestiae aliquam. Sequi, eveniet?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque magnam, odit fugit esse debitis ducimus? Quaerat error recusandae tenetur, dolorum, hic officia libero maiores, dolorem laudantium molestiae aliquam. Sequi, eveniet?</p>
        </div>
    </div>
</section>