/* Login View */

section#login {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.login-container {
  width: 85%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background: rgba(65, 65, 65, 0.3);
  box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.heading-text-login {
  font-size: xx-large;
  font-style: italic;
  margin-top: 60px;
  color: rgba(245, 245, 245, 0.811);
  font-family: "Montserrat", sans-serif;
}

.login-form {
  width: 80%;
  height: 75%;
}

.login-form > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form form input {
  /* cursor: pointer; */
  margin: 0;
  margin-top: 5px;
  outline: none;
  padding: 15px;
  width: 300px;
}

.inputHolder-login {
  margin: 10px 0;
}

.inputHolder-login label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.submitBtn {
  margin-top: 10px;
  padding: 20px 60px;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(239, 104, 104);
  box-shadow: 2px 9px 19px -6px #000000;
  color: white;
  letter-spacing: 2px;
}

.submitBtn:hover {
  filter: brightness(95%);
}

.submitBtn:active {
  transform: translateY(3px);
}

.noaccount-text {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.noaccount-text a {
  text-decoration: none;
  color: rgb(239, 104, 104);
  font-weight: bolder;
}
