<section id="login">
    <div class="login-container">
        <div class="heading-text-login">
            <h1>Sign In to Use Our Services!</h1>
        </div>
        <div class="login-form">
            <form>
                <div class="inputHolder-login">
                    <label>E-Mail Address:<input type="text" name="email" placeholder="Email address"></label>
                </div>

                <div class="inputHolder-login">
                    <label>Password:<input type="password" name="password" placeholder="Password"></label>
                </div>

                <div class="inputHolder-login">
                    <button class="submitBtn" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="noaccount-text">
            <span>Don't have an account? Please <a routerLink="/register">sign up</a></span>
        </div>
    </div>
</section>