@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding-top: 75px;
  font-family: "Open Sans", sans-serif;
  background-image: url("./assets/bali.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
}

section h1 {
  margin: 0;
}
